IGNORE
AbsVarlang.hs
DocVarlang.txt
ErrM.hs
LexVarlang.hs
LexVarlang.x
ParVarlang.hs
ParVarlang.y
PrintVarlang.hs
SkelVarlang.hs
TestVarlang.hs
varlang_old.cf
AbsVarlang.hi
AbsVarlang.o
ErrM.hi
ErrM.o
Interpreter.hi
Interpreter.o
InterpreterUtils.hi
InterpreterUtils.o
LexVarlang.hi
LexVarlang.o
ParVarlang.hi
ParVarlang.o
TypeChecker.hi
TypeChecker.o
VarlangState.hi
VarlangState.o
interpreter

